
<div class="signup">
<h2> <%= t('signup.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div><%= f.text_field :name, :autofocus => true , :placeholder =>  t('signup.name_placeholder')%></div>

<div> <%= f.email_field :email, :placeholder =>  t('signup.email_placeholder') %></div>

<div><%= f.password_field :password ,  :placeholder => t('signup.password_placeholder') %></div>

<div><%= f.password_field :password_confirmation , :placeholder => t('signup.password_confiramtion_placeholder')%></div>

<div><%= f.submit  t('signup.signupbutton'), :class => 'btn btn-large btn-block btn-primary' %></div>

<% end %>


</div>

