<%= link_to "Edit", edit_admin_order_path(order) %> <br>
<%= link_to "Submit Work", complete_admin_order_path(order)  %>
<%= link_to(I18n.t('active_admin.delete'), resource_path(order), :method => :delete, :data => {:confirm => I18n.t('active_admin.delete_confirmation')}, :class => "member_link delete_link") %>


<!-- <div id="login-box<%= order.id %>" class="login-popup">
    <a href="#" class="close"><img src="/assets/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>>
    <%= form_for order ,:url => "/admin/orders/#{order.id}" ,:class=> "signin" do |f| %>
    <%= f.select :state, ["unwatched" , "in progress" ,"completed" , "paid"] %>
    <%= f.submit "Change" %>
    <% end %>  
</div> -->