 <li>
 	<div class="order">
 		<p><b><%= order.title %></b>
 			<a href="#" onclick="toggle_visibility('more-info<%= order.id %>');change_arrow('buttonimg<%= order.id %>');">
 				<%= image_tag("right.png", alt: "more-info",size:"18x18",:id=>"buttonimg#{order.id}") %>
 			</a>
 			<% if current_user  == order.user %>
 				<% if !order.cancel  %>
		 			<%= link_to "DE", order, method: :delete,
		 			data: { confirm: 'You sure?' },
		 			title: order.title , class:"trash" %>
	 			<% else %>
	 				<%= image_tag("trash_X.png", alt: "requested to cancel", class: "trash" ) %>
	 			<% end %>

 			<% end %>
 		</p>

 		<div id="more-info<%= order.id %>" style="display:none">
 			<b>State</b> : <%= order.state %>
 			<br>
 			<b> Estimated Finshed </b>: <%= order.expected_end.nil? ? "Unknown" : order.expected_end%>
 			<br>
 			<b>Type</b>: <%= order.order_type %>
 			<br>
 			<b>Price</b>: <%= order.price %>
 			<br>
 			<b>Order ID </b>: <%= order.id %>
 			<br>
 			<b>Description</b>: 
 			<br>
 			<%= order.description %>
 			<br>
 			<% if order.image? %>
 			<b>Submitted Work By Designer</b>: 
 			<br>
 			<%= link_to image_tag(order.image_url(:thumb)), order.image_url ,:target =>"_blank"  %>
 			<% end %>
 		</div>

 		
 		<div class="progress progress-striped">
 			<div class="bar bar-success" style="width: <%= order.state != "unwatched" ? order.percentage  : 0%>%;"></div>
 			<div class="bar bar-warning" style="width: <%= order.state != "unwatched" ? 100-order.percentage  : 0%>%;"></div>
 			<div class="bar bar-danger" style="width: <%= order.state == "unwatched" ? 100  : 0%>%;"></div>
 		</div>
 	</div>
 </li>
