<link href="http://cdn.aloha-editor.org/latest/css/aloha.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>
<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>

<script>
  var Aloha = window.Aloha || ( window.Aloha = {} );
  
  Aloha.settings = {
    locale: 'en',
    plugins: {
      format: {
        config: [  'b', 'i', 'p', 'sub', 'sup', 'del', 'title', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat' ],
          editables : {
          // no formatting allowed for title
          '#title'  : [ ]
          }
      },
      link: {
        editables : {
          // No links in the title.
          '#title'  : [  ]
          }
      },
      list: {
        editables : {
          // No lists in the title.
          '#title'  : [  ]
          }
      },
      abbr: {
        editables : {
          // No abbr in the title.
          '#title'  : [  ]
          }
      },
      image: {
        'fixedAspectRatio': true,
        'maxWidth': 1024,
        'minWidth': 10,
        'maxHeight': 786,
        'minHeight': 10,
        'globalselector': '.global',
        'ui': {
          'oneTab': false
        },
        editables : {
          // No images in the title.
          '#title'  : [  ]
          }
      }
    },
    sidebar: {
      disabled: true
    },
    contentHandler: {
        allows: {
        elements: [
          'a', 'abbr', 'b', 'blockquote', 'br', 'caption', 'cite', 'code', 'col',
          'colgroup', 'dd', 'del', 'dl', 'dt', 'em', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
          'i', 'img', 'li', 'ol', 'p', 'pre', 'q', 'small', 'strike', 'strong',
          'sub', 'sup', 'table', 'tbody', 'td', 'tfoot', 'th', 'thead', 'tr', 'u',
          'ul', 'span', 'hr', 'object', 'div'
        ],

        attributes: {
          'a': ['href', 'title', 'id', 'class', 'target', 'data-gentics-aloha-repository', 'data-gentics-aloha-object-id'],
          'div': [ 'id', 'class'],
          'abbr': ['title'],
          'blockquote': ['cite'],
          'br': ['class'],
          'col': ['span', 'width'],
          'colgroup': ['span', 'width'],
          'img': ['align', 'alt', 'height', 'src', 'title', 'width', 'class'],
          'ol': ['start', 'type'],
          'q': ['cite'],
          'p': ['class'],
          'table': ['summary', 'width'],
          'td': ['abbr', 'axis', 'colspan', 'rowspan', 'width'],
          'th': ['abbr', 'axis', 'colspan', 'rowspan', 'scope', 'width'],
          'ul': ['type'],
          'span': ['class','style','lang','xml:lang']
        },

        protocols: {
          'a': {'href': ['ftp', 'http', 'https', 'mailto', '__relative__']},
          'blockquote': {'cite': ['http', 'https', '__relative__']},
          'img': {'src' : ['http', 'https', '__relative__']},
          'q': {'cite': ['http', 'https', '__relative__']}
        }
      }
    }
  };
</script>

<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
      data-aloha-plugins="common/ui,
                common/format,
                            common/table,
                            common/list,
                            common/link,
                            common/highlighteditables,
                            common/block,
                            common/undo,
                            common/image,
                            common/contenthandler,
                            common/paste,
                            common/commands,
                            common/abbr"></script>


<script type="text/javascript">
Aloha.ready(function() {
	$('#multicolumnElement').aloha();
});

</script>

<div class="row">
<div class="span5 order-form">
	<h1><%= t('order.form_header') %></h1>
	<br>
	<%= form_for(@order) do |f| %>
	<%= f.text_field :title, placeholder: t('order.form_title_placeholder')%>
	<br>
	<p><b> <%= t('order.form_ordertype') %></b></p>
	<%= f.select :order_type,

	order_types %>
	<br>
	<p><b><%= t('order.form_description') %></b></p>
    	<%= f.text_area :description, :toolbar => 'basic', :rows => 8, :cols => 80 , :style => "width:365px;" , :id=>"multicolumnElement" %>
	<br>
	<br>

	<%= f.submit t('order.form_button_text'), class: "btn btn-large btn-warning  btn-block" %>
	<% end %>


</div>

<div class="span 3 offset1 order-types">
	
	<div class="row order_types round">
		<h2> <%= t('order.order_types.title') %></h2>
		<div class="info_order">
			<div class="title"><b><%= t('order.order_types.banner_name') %></b></div>
			<div class="info_order_info">
				<%= t('words.price_range') %> : 100-250
			</div>
			<div class="info_order_info">
				<%= t('words.work_days') %> : 1-2
			</div>

		</div>
		<br>
		<div class="info_order">
			<div class="title"><b><%= t('order.order_types.logo_name') %></b></div>
			<div class="info_order_info">
				<%= t('words.price_range') %> : 300-500
			</div>
			<div class="info_order_info">
				<%= t('words.work_days') %> : 2-4 
				
			</div>
		</div>
		<br>
		<div class="info_order">
			<div class="title"><b><%= t('order.order_types.web_site_name') %></b></div>
			<div class="info_order_info">
				<%= t('words.price_range') %> : 1000-1500
			</div>
			<div class="info_order_info">
				<%= t('words.work_days') %> : 7-14
			</div>
		</div>
		


	</div>
</div>

</div>