<div class="row">
<div class="span5 order-form">
	<h1><%= t('order.form_header') %></h1>
	<br>
	<%= form_for(@order) do |f| %>
	<%= f.text_field :title, placeholder: t('order.form_title_placeholder')%>
	<br>
	<p><b> <%= t('order.form_ordertype') %></b></p>
	<%= f.select :order_type,

	order_types %>
	<br>
	<p><b><%= t('order.form_description') %></b></p>
    	<%= f.rte_field :description, :toolbar => 'basic', :rows => 8, :cols => 80 , :style => "width:365px;" %>
	<br>
	<br>

	<%= f.submit t('order.form_button_text'), class: "btn btn-large btn-warning  btn-block" %>
	<% end %>


</div>

<div class="span 3 offset1 order-types">
	
	<div class="row order_types round">
		<h2> <%= t('order.order_types.title') %></h2>
		<div class="info_order">
			<div class="title"><b><%= t('order.order_types.banner_name') %></b></div>
			<div class="info_order_info">
				<%= t('words.price_range') %> : 100-250
			</div>
			<div class="info_order_info">
				<%= t('words.work_days') %> : 1-2
			</div>

		</div>
		<br>
		<div class="info_order">
			<div class="title"><b><%= t('order.order_types.logo_name') %></b></div>
			<div class="info_order_info">
				<%= t('words.price_range') %> : 300-500
			</div>
			<div class="info_order_info">
				<%= t('words.work_days') %> : 2-4 
				
			</div>
		</div>
		<br>
		<div class="info_order">
			<div class="title"><b><%= t('order.order_types.web_site_name') %></b></div>
			<div class="info_order_info">
				<%= t('words.price_range') %> : 1000-1500
			</div>
			<div class="info_order_info">
				<%= t('words.work_days') %> : 7-14
			</div>
		</div>
		


	</div>
</div>

</div>