<div class="row">
	<div class="span6 home-welcome">
		<h1> ArtiPixel</h1>
		<p><%= t('home.welcome_1st') %></p>
		<p><%= t('home.welcome_2nd') %></p>
	</div>
	<div class="span3 home-buttons">
		<% if user_signed_in? %>
		<br>
		<%= link_to  raw("<i class=\"icon-envelope icon-white\"></i> #{t('home.button_order')}") ,new_order_path ,
		:class => "btn btn-large btn-warning  btn-block" %>
		<br>
		<%= link_to raw("<i class=\"icon-user icon-white\"></i>  #{t('home.button_profile')}") ,current_user,
		:class => "btn btn-large btn-block btn-custom" %>

		<% else %>
		<%= render 'devise/registrations/new' %>
		<% end %>
	</div>
</div>


